# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Flask specific files
instance/
.webassets-cache

# SQLite database files
*.sqlite3

# MacOS
.DS_Store

# Python virtual environment
venv/
ENV/
*.env

# Model files
models/random_forest_model.pkl

# Data files
data/*.csv

# Logs and temporary files
*.log
*.tmp
*.temp

# Ignore specific system files
*.swp
*.swo
